/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* woc site colors
/* 
/* blue: #36596d; 
/* pink: #a54f57; 
/* orange: #e3a112; -- no swatch for this one
/* green: #b4c269/ #859648; 
/* yellow: #eee810;  -- no swatch for this one
/*
/* @import url(http://fonts.googleapis.com/css?family=Dosis:800);
/* @import url(http://fonts.googleapis.com/css?family=Lato:400);
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

header { margin-bottom: 20px; }

body {
  background-color: #FFF;
  font-family: 'Lato', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Dosis'; }

h1 { 
  /*margin-bottom: 1em;*/
  font-size: 25.888px;
  line-height: 31.415px;
  padding-bottom: 20px;
}

h2 { 
  
  font-size: 19.416px;
  line-height: 25.888px;
  /*padding-bottom: 15px;*/
}

h3 { 
  font-size: 16.000px;
  line-height: 19.416px;
}

h4 { 
  font-size: 12.000px;
  line-height: 16.000px;
}

h5 { 
  font-size: 9.889px;
  line-height: 12.000px;
}

h6 {  
  font-size: 7.417px;
  line-height: 9.889px;
}

p { 
  margin: 1em 0; 
  font-family: 'Lato';
  font-size: 16px;
  line-height: 19.416px;
}

a         { color: #7f0e17; text-decoration: none; }
a:hover   { color:  #ed7d86; opacity: 0.7; }
a:hover h2 { color: #ed7d86; opacity: 0.7; }
a:visited { color: #a54f57; }



.nav {
  margin-bottom: 16px;
}

table {
  font-size: inherit;
  font: 100%;
}

ul, ol {
  list-style-type: none;
}

img {
  width: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


.posts {
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.333em;
}

.posts span {
  color: #aaa;
  /*font-size: 80%;*/
}

.navcontainer {
  padding: 20px;
  background-color: #a54f57;

}

.navcontainer ul {
  /*padding: 20px;*/
  margin: 0;
  list-style-type: none;
  /*background-color: #a54f57;*/

  text-align: center;
}

.nav {
  list-style-type: none;
}

.nav li {
  display: inline-block; 
}

.nav li a {
  text-decoration: none;
  font-family: 'Dosis';
  text-align: center;
  font-size: 16px;
  line-height: 19.416px;
  color: #000;
  padding: 19px;
  background-color: #a54f57;
  border-right: 1px solid #c66169;
}

.nav li a:hover {
  background-color: #c66169; 
  color: #fff;
}

.slider {
 /* width: 618.047px;*/
  width: 65%;
  float: left;
} 

.recent-blogs {
  clear: both;
  width: 100%;
  float: left;
}

.notable-projects {
  clear: both;
  float: left;
 /* width: 348.357px;*/
}

.project-posts {
  display: inline;
  float: left;
  border: 1px solid #aaa;
  width: 325px;
  min-height: 410px;
  margin: 0px 5px 30px 0px; 
}

.project-posts:nth-of-type(4n) {
  clear: left;
  float: left;
}

.project-posts img {
  height: 216px;
}

.project-posts p {
  color: #000;
}

.blogs {
  border: 1px solid #aaa;
  width: 273px;
  min-height: 410px;
  float: left;
  margin-bottom: 50px;
}

.blogs img{
  height: 182px;
}

.slideshow-text {
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #36596d;
  opacity: .6;
  bottom: 0;
  position: absolute;
}

.home-heading-color {
  color: #36596d;
}

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/


.content {
  width: 60%;
  float: left;
  padding: 0px 10px 0px 5px;
}

.about .content {
  width: 100%;
}

aside {
  width: 30%;
  float: right;
  background-color: #f4f4f4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* project page */

.project {
  max-width: 350px;
  min-height: 450px;
  border: solid 1px;
  margin-bottom: 50px;
}

.description {
  padding: 5px 5px 0px 8px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.title {
  margin-bottom: 0;
}

/*****************************************************************************/
/*
/* Portfolio 
/*
/*****************************************************************************/

.portfolio {
  display: inline;
  float: left; 
  padding: 10px;
}

.portfolio:nth-of-type(5n) { 
  /*clear: left;*/
  /*float: left; */
}

.portfolio a {
  text-decoration: none;
  text-align: center;
  color: #000;
}

/*****************************************************************************/
/*
/* Basic Styles 
/*
/*****************************************************************************/

.photo-left {
  float: left;
  padding: 0px 10px;
}

.photo-right {
  float: right;
  padding: 0px 10px;
}

.photo-center {
 display: inline-block;
 margin: 0 auto;
}

.text-left {
  text-align: left; 
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}
/*****************************************************************************/
/*
/* Slideshow
/*
/*****************************************************************************/
.slideshow {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
