/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* woc site colors
/*
/* blue: #36596d;
/* pink: #a54f57;
/* orange: #e3a112; -- no swatch for this one
/* green: #b4c269/ #859648;
/* yellow: #eee810;  -- no swatch for this one
/*
/* @import url(http://fonts.googleapis.com/css?family=Dosis:800);
/* @import url(http://fonts.googleapis.com/css?family=Lato:400);
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body { 
  height: 100%; 
}

header { 
 /* margin-bottom: 20px; */
}

body {
  /*background-color: #FFF;*/
  background-image: url(/images/starbackground.jpg);
  font-family: 'Lato', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

footer {
  background-color: #a54f57;
  display: table-row;
  height: 1px;

}

h1, h2, h3, h4, h5, h6 { font-family: 'Dosis'; }

h1 {
  /*margin-bottom: 1em;*/
  font-size: 25.888px;
  line-height: 31.415px;
  padding-bottom: 20px;
  color: #36596d;
}

h2 {
  font-size: 19.416px;
  line-height: 25.888px;
}

h3 {
  font-size: 16.000px;
  line-height: 19.416px;
}

h4 {
  font-size: 12.000px;
  line-height: 16.000px;
}

h5 {
  font-size: 9.889px;
  line-height: 12.000px;
}

h6 {
  font-size: 7.417px;
  line-height: 9.889px;
}

p {
  margin: 1em 0;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 19.416px;
}

a         { color: #7f0e17; text-decoration: none; }
a:hover   { color:  #ed7d86; opacity: 0.7; }
a:hover h2 { color: #ed7d86; opacity: 0.7; }
a:visited { color: #a54f57; }

table {
  font-size: inherit;
  font: 100%;
}

ul, ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}


/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 0px 0px 15px;
  text-align: left;
  color: #a54f57;
}

.header h1 {
  font-size: 19.416px;
  line-height: 16.000px;
}

.header h2 {
  font-size: 16.000px;
  line-height: 12.000px;
}

.body-container {
  /*display: table;*/
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
 /* background-color: #fdffdf;*/
}

main {
  /*background-color: #dffdff;*/
  max-width: 90%;
  margin: 0px auto;
}

main h1 {
  text-align: center;
}

aside {
  width: 100%;
  margin-bottom: 20px;  
  background-color: #f4f4f4;
  clear: both;
}

.content {
  width: 60%;
  float: left;
  padding: 0px 10px 0px 5px;
  /*clear: both;*/
}

.about .content {
  width: 100%;
}

@media (min-width: 511px) {
  .header {
    text-align: center;
  }

  .header h1 {
    font-size: 25.888px;
    line-height: 31.415px;
  }

  .header h2 {
    font-size: 19.416px;
    line-height: 25.888px;
  }

  .container {
    max-width: 1000px;
    /*padding: 50px 0px 10px 0px;*/
  }

  main {
    max-width: 1000px;
    padding: 0;
    margin: 0;
  }

  main h1 {
    text-align: left;
  }

  aside {
    width: 30%;
    float: right;
    margin-bottom: none;
    background-color: #f4f4f4;
  }  
}

/*****************************************************************************/
/*
/* All pages
/*
/*****************************************************************************/

.site-navigation {
  background-color: #a54f57;
}

.main-nav {
  position: absolute;
  top: 53px;
  right: 0;
  left: 0;
  z-index: 1000; /* the nav sits behind the menu button */
  text-align: center;
}

.main-nav a {
  overflow: hidden;
  height: 0;
  line-height: 0;
  display: block;
  font-size: 16px;
  font-family: 'Dosis';
  text-align: center;
  background-color: #a54f57;
  border-bottom: 1px solid #c66169;
  color: #fff;
}

.main-nav a:hover {
  background-color: #c66169;
  color: #fff;
  opacity: 1;
}

#nav:target {
  z-index: 1001;  /* unless it&rsquo;s showing */
}

.main-nav:target a {
  border-bottom-width: 1px;
  line-height: 3em;
  height: 3em;
  position: relative;
  z-index: 1;  /* make nav links sit up a level */

  -moz-transition: height .25s, line-height .25s;
  -ms-transition: height .25s, line-height .25s;
  -o-transition: height .25s, line-height .25s;
  -webkit-transition: height .25s, line-height .25s;
  transition: height .25s, line-height .25s;

}

#skip-to-nav {
  background: #fff url(/images/nav.png) 50% 50% no-repeat;
  border: 1px solid #b8b8b8;
  border-width: 0 0 1px 1px;
  cursor: pointer;
  display: block;
  padding: 0;
  height: 53px;
  width: 53px;
  text-indent: -999em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001; /* make sure the menu button is on top */
}

#back {
  /* turn the link into a ghost */
  background: transparent;
  border: 0;
  text-indent: -999em;
  position: absolute;
  top: -53px;
  right: 0;
  z-index: 10002;
  height: 53px;
  width: 53px;
}

@media (min-width: 511px){
  .main-nav {
    position: relative;
    top: 0;
    margin-bottom: 16px;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    font-size: 16px;
    line-height: 19.416px;
    color: #000;
    padding: 10px;
    background-color: #a54f57;
    border-right: 1px solid #c66169;
    height: auto;
  }

  .main-nav a:hover {
    background-color: #c66169;
    color: #fff;
  }

  #skip-to-nav {
    background: none;
    border: none;
  }

}


/****************************************************************************
/*
/* Home
/*
/*****************************************************************************/

#intro {
  font-size: 16px;
  line-height: 24px;
  /*background-color: #4f829e;
  color: #f4f4f4;*/
  padding: 5px;
}

.posts {
 /* margin-bottom: 2em;*/
 margin: 0 auto;
  /*background-color: #fedfed;*/ /****  REMOVE!!!  ****/
}

.posts li {
  line-height: 1.333em;
}

.posts span {
  color: #aaa;
}

.posts img {
  width: 100%;
}

.slider {
  width: 100%;
  float: left;
}

.slideshow-text {
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #36596d;
  opacity: .6;
  bottom: 0;
  position: absolute;
}

.recent-blogs {
  clear: both;
  width: 100%;
  float: left;
}

.notable-projects {
  clear: both;
  float: left;
}

.description {
  padding: 5px 5px 0px 8px;
}

/* Projects on 1st page without masonry */

.project-wrapper {
  margin: 0 auto;
  width: auto;
}

.project-posts {
  display: inline;
  float: left;
  border: 1px solid #aaa;
  width: 273px;
  min-height: 410px;
  margin: 0px 5px 30px 0px;
  background-color: #f4f4f4;
}

.project-posts img {
  height: 216px;
}

.project-posts p {
  color: #000;
}

.blogs {
  border: 1px solid #aaa;
  width: 273px;
  min-height: 410px;
  float: left;
  margin-bottom: 50px;
  background-color: #f4f4f4;
 /*margin: 0 auto;*/
}

.blogs img{
  height: 182px;
}

@media (min-width: 511px){
  .slider {
    width: 65%;
    float: left;
  }

  .project-posts {
    width: 325px;
  }
}

/******************************************************************************************/

.recent-blog-posts {
  border: 1px solid #aaa;
  width: 273px;
  min-height: 410px;
  float: left;
  margin-bottom: 50px;
}

.recent-blog-posts img{
  height: 182px;
}


.recent-posts {
  margin-bottom: 2em;
}

.recent-posts li {
  line-height: 1.333em;
}

.recent-posts span {
  color: #aaa;
  /*font-size: 80%;*/
}

/******************************************************************************/
/*
/* project page */
/*
/******************************************************************************/

.project {
  width: 273px;
  min-height: 410px;
  border: 1px solid #aaa;
  margin: 0px 5px 50px 0px;
  background-color: #f4f4f4;
}

.project img {
  height: 216px;
  width: 100%;
}

.project p{
  color: #000;
}

/* about page */

.about-posts {
  display: inline;
  float: left;
  border: 1px solid #fff;
  width: 273px;
  min-height: 216px;
  margin: 20px 6px;
  background-color: #f4f4f4;
}

.about-posts img {
  margin: 0 auto;
  height: 250px;
 /* margin-bottom: 10px;*/
}

@media (min-width: 511px){
  .project {
    width: 325px;
    min-height: 410px;
    border: 1px solid #aaa;
    margin: 0px 5px 50px 0px;
  }

  .about-posts {
    width: 250px;
    margin: 0px 50px 50px 10px;
  }
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.title {
  margin-bottom: 0;
}

/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/

.portfolio {
  display: inline;
  float: left;
  padding: 10px;
}

.portfolio:nth-of-type(5n) {
  /*clear: left;*/
  /*float: left; */
}

.portfolio a {
  text-decoration: none;
  text-align: center;
  color: #000;
}

/*****************************************************************************/
/*
/* Basic Styles
/*
/*****************************************************************************/

.photo-left {
  float: left;
  padding: 0px 10px;
}

.photo-right {
  float: right;
  padding: 0px 10px;
}

.photo-center {
 display: inline-block;
 margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*****************************************************************************/
/*
/* Slideshow
/*
/*****************************************************************************/

.slideshow {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.gallery-container {
  max-width: 800px;
  margin: 0 auto;
}

.flex-control-nav {
  display: none;
}

@media (min-width: 511px){
  .flex-control-nav {
    display: inline-block;
  }
}
/*****************************************************************************/
/*
/* Calendar
/*
/*****************************************************************************/

/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe, .vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
}

/*****************************************************************************/
/*
/* Journalists
/*
/*****************************************************************************/

.journalist-item {
  clear: both;
  overflow: auto;
  margin-top: 21px;
}

.journalist-item img {
  max-width: 82px;
  max-height: 82px;
  overflow: hidden;
  float: left;
  margin-right: 21px;
}

.journalist-item h4 {
  font-size: 16px;
}

.role {
  font-size: 13px;
}


/*****************************************************************************/
/*
/* Gallery
/*
/*****************************************************************************/

.photos {
  /*width: 150px;
  height: 120px;*/
  margin-bottom: 15px;
} 

.photos img{
  width: 150px;
  height: 120px;
}

/*****************************************************************************/
/*
/* Gallery
/*
/*****************************************************************************/

.mentor-profile {
  background-color: #a54f57; 
  height: 151px; 
  margin-bottom: 15px;
}

.mentor-profile img{
  padding-right: 5px;
}  

