---
layout: styleguide
---

<header>
  <h1>Styleguide</h1>
  <p>A compendium of our site building blocks and HTML helpers.</p>
</header>


<h1>This is an h1 tag.</h1>

<h2>This is an h2 tag.</h2>

<h3>This is an h3 tag.</h3>

<h4>This is an h4 tag.</h4>

<h5>This is an h5 tag.</h5>

<h6>This is an h6 tag.</h6>

<hr>

<h2>Teasers</h2>

<p>Teasers are content previews. The inside content is arranged in a series of configurations, or clusters, controlled though CSS.</p>

<h3>Single</h3>

<code>.singleton</code>

  <section class="teaser singleton-with-text">

    <header class="teaser-content">
      <h1>Long Bold Title to callout Single node</h1>
      <p>Descriptive text if necessary</p>
    </header>

    {% include video-project-yeah.html %}

  </section>

  <section class="teaser singleton-with-media">

    <div class="main">
      {% include video-project-yeah.html %}

      <header class="teaser-content">
        <h1>Long Bold Title to callout Single node</h1>
        <p>Descriptive text if necessary</p>
      </header>

    </div>

    {% include fpo-media-photo.html %}

    {% include fpo-media-photo.html %}

  </section>

<h3>Triptych</h3>

  <section class="teaser triptych-with-text">
    <header class="teaser-content">
      <h1>Title to callout content</h1>
      <h2>Subheading</h2>
      <p>Descriptive text if necessary</p>
    </header>

    {% include fpo-media-photo.html %}
    {% include fpo-media-photo.html %}
    {% include fpo-media-photo.html %}

  </section>

<h3>Heptagon</h3>
<p>For displaying seven objects.</p>

  <section class="teaser heptagon-with-objects">

    <header class="teaser-content">
      <h1>Title to callout content</h1>
      <h2>Subheading</h2>
      <p>Descriptive text if necessary</p>
    </header>

    <div class="main">
      {% include fpo-media-photo.html %}
    </div>

    <aside>
      {% include fpo-media-photo.html %}
      {% include fpo-media-photo.html %}
      {% include fpo-media-photo.html %}
      {% include fpo-media-photo.html %}
      {% include fpo-media-photo.html %}
      {% include fpo-media-photo.html %}
    </aside>

  </section>


<hr>

<h2>Articles</h2>
<p>Any node is an article content page. These pages are expressed with the following code structure:</p>

<code>
  <header>
    <h1></h1>
    <p></p>
  </header>
  <article></article>
</code>

<hr>

<p>The <strong>strong tag</strong> makes text bold.</p>

<p>The <em>em tag</em> emphasizes text.</p>

<blockquote>The blockquote tag is used for quotations taken from an outside source. Note that the blockquote is indented.</blockquote>

<p>The cite tag defines the title of a work. An example is <cite>Mona Lisa</cite> by Leonardo Da Vinci.</p>

<h1>LINKS</h1>

<p title="title attribute tag">This is the title attribute tag. Hold the mouse over the text to see it.</p>

<p>This is an image with an internal link. The image is located in a local directory:</p>
<img src="../images/flickr-small.jpg" width="100px">

<p>This is an image with an external link. The image is located somewhere on the web: </p>
<img src="http://www.jiscdigitalmedia.ac.uk/images/flickr-words.jpg" width="100px">

<p>This is an external link. It points to a website: <a href="http://www.surprise.com">Mystery Webite.</a></p>

<p>This is an internal link. It points to a file in the local directory: <a href="../blog">Mystery File.</a></p>

<p>This is a mailto link. You can send an email: <a href="mailto:instructors@deepdishwavesofchange.org">Mystery Email Address.</a></p>

<h1>IMAGES</h1>

<p>This is an image floated left:</p>
<img class="photo-left" src="../images/flickr-small.jpg">

<p class="clear">This is an image floated right:</p>
<img class="photo-right" src="../images/flickr-small.jpg">

<p class="clear">This is an image centered: </p>
<img class="photo-center" src="../images/flickr-small.jpg">


<h1>GOOGLE MAPS</h1>

<p>You can embed a Google Map:</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+NY&amp;aq=0&amp;oq=2090+&amp;sll=40.836671,-73.920479&amp;sspn=0.152473,0.357399&amp;ie=UTF8&amp;hq=&amp;hnear=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+10027&amp;ll=40.808812,-73.949043&amp;spn=0.019067,0.044675&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+NY&amp;aq=0&amp;oq=2090+&amp;sll=40.836671,-73.920479&amp;sspn=0.152473,0.357399&amp;ie=UTF8&amp;hq=&amp;hnear=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+10027&amp;ll=40.808812,-73.949043&amp;spn=0.019067,0.044675&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<p>You can create a link to a Google Map:</p>

<a href="https://maps.google.com/maps?q=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+NY&hl=en&ll=40.809051,-73.944941&spn=0.009534,0.022337&sll=40.808645,-73.955541&sspn=0.019067,0.061026&oq=2090+&hnear=2090+Adam+Clayton+Powell+Jr+Blvd,+New+York,+10027&t=m&z=16">
	Theresa Hotel
</a>

<p>You can link with the short URL as well:</p>
<a href="http://goo.gl/maps/vUBgn">Theresa Hotel Short Url</a>

<h1>ALIGNED TEXT</h1>

<p class="text-left">This is left-aligned text.</p>

<p class="text-right">This is right-aligned text.</p>

<p class="text-center">This is centered text.</p>

<h1>CSS STYLING</h1>

<p class="italic">This is italized text using css.</p>

<p class="bold">This is bold text using css.</p>



