---
  layout: default
  title: Waves of Change
  class: history
---

<header>
  <h1>History</h1>
  <p>Throughout the summer we learned about West Harlem History through research projects and visting workshops</p>
</header>

<section>
  <h1>Columbia's Expansion into Harlem</h1>
  <blockquote>
    <p>I was really affected by the expansion.</p>
  </blockquote>
  {% include projects/columbia-expansion.html %}
</section>

<section>
  <h1>Hotel Theresa</h1>
  <p>Our classes were held in one of the most historic Harlem buildings. Before this project, we didn't know how much history this building held</p>
  {% include projects/hotel-theresa.html %}
</section>

<section>
  <h1>PS 186</h1>
  <p>This abandoned school has been an eyesore in our community. We set out to find out more about it and in the process had one interesting adventure.</p>
  {% include projects/ps-186.html %}
</section>