---
  layout: default
  title: Waves of Change
  author: Ada Gonzalez
---

<section class="content">
  <h1> Ada Gonzalez </h1>

  <img src="/images/about/ada.jpg">

  <p>My name is Ada Gonzalez. I was born on February 14, 1996. Yes, that’s right, I’m 17 years old. I was born and raised in New York City; I guess that’s why I love the city. I have two sisters: one is older than me and the other is younger than me which makes me the middle child.</p>

   <p>I am proud to say that I come from a Mexican family. I attend school at Life Sciences Secondary School located on the East side in which I’m in my last year of High School. School is pretty fun; my favorite subjects are Art, Drama and English. I also participate in my school's soccer team. I enjoy talking and hanging out with my friends. I like to listen to music and watch movies on my free time. I love food; My favorite foods are pasta and tacos.</p>

   <h3>connect</h3>
   <ul>
   <li>tumblr:wavesofchange.tumbrl.com</li>
   <li>Twitter:@waveschange</li>
   </ul>
</section>

<aside>
  <div>
    <h2>Blog Posts by Ada</h2>
    <ul>
      {% for post in site.posts %}
        {% if post.author == "Ada Gonzalez" %}
          <li>
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p><span class="date">{{ post.date | date_to_string }}</span></p>
            <p>{{ post.teaser }}</p>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2>Projects by Ada</h2>

    <ul class="projects">
        <li>
          <h3><a href="/projects/project-yeah.html">Project Yeah</a></h3>
          <p>The Young Empowered Artists of Harlem, acronymed Y.E.A.H, is a project aimed at tackling the problem of violence through the power of art.</p>
        </li>
        <li>
          <h3><a href="/projects/ps-186.html">P.S. 186 Long Forgotten</a></h3>
          <p>Waves of Change investigated the mystery behind the empty school</p>
        <li>
          <h3><a href="/projects/we-act.html">We Act</a></h3>
        </li>

    </ul>
  </div>
</aside>