---
  layout: default
  title: Waves of Change
  author: Bana Kaleab
---

<section class="content"> 
   <h1>Bana Kaleab</h1> 

   <img src ="{{ site.baseurl}}/images/about/Bana.jpg" width="300px" 

    <p> My name is Bana Kaleab and this fall I’m going to be a senior at <a href="http://www.saintvincentferrer.com"> Saint Vincent Ferrer High School </a>. My parents are both from <a href="https://en.wikipedia.org/wiki/Eritrea"> Eritrea, Africa </a>. I have been to Eritrea twice; my most recent visit occurred in the summer of 2012. I’m a fluent speaker of the Eritrean native language Tigrinya.</p>
    <p> My favorite color is blue; I think every shade of blue is so pretty! I’m a big fan of the novels <a href="http://en.wikipedia.org/wiki/A_Raisin_in_the_Sun"> A Raisin in the Sun </a> and <a href="https://en.wikipedia.org/wiki/The_Catcher_in_the_Rye"> The Catcher in the Rye </a> ; I also love books by <a href= "http://www.nicholassparks.com/"> Nicholas Sparks </a> and the movie version of his work.

    <p> I love to eat all kinds of food but I’m really obsessed with Spanish and Italian cuisine; foods from this origin have so much flavor! I listen to all types of music but my favorite genres would have to be hip-hop and R&B. My favorite subjects in school are math and science. I love topics that get my mind moving as opposed to classes where I have to just sit and listen. During my free time, I like to play and watch basketball. I also enjoy writing and volunteering. </p>
    
      <p> My biggest motivation is being an African American young woman. All of the stereotypes against people of color definitely motivates me to do better then what is expected of someone like me. Dreams occur when you sleep but my dreams wake me up in the morning. I have so many plans for the future like starting my own school and scholarship fund. I plan to become very successful so that I can give back to the communities that helped me. I’m excited to be a <a href= "http://www.deepdishwavesofchange.org"> Waves of Change </a> Intern this summer because I’ll be learning a lot about journalism and I like to write. I’m all about increasing my network so I’m glad I’m going to be a part of something that allows me to meet new people. </p>

      <h3>Connect</h3
      	<Ul>
      		<li>Tumblr: www.wavesofchange.tumblr.com</li>
      		<li>Twitter: @waveschange </li>
      	</Ul>
</section>

<aside>
  <div>
    <h2>Blog Posts by Bana</h2>
    <ul class="posts">
      {% for post in site.posts %}
        {% if post.author == "Ada Gonzalez" %}
          <li>
            <h3 class="title"><a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h3>
            <p><span class="date">{{ post.date | date_to_string }}</span></p>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>  

  <div>
    <h2>Projects by Bana</h2>
    <!-- @TOOD Add a list of your projects. Each time you do a new project, you should add it here -->
  </div>  
</aside>