---
  layout: default
  title: Waves of Change
  author: Raliat Akesode
---

<h1>Raliat Akesode</h1>

<img src="{{ site.baseurl}}/images/raliat.jpeg" width="300px">

<p>    Hello, my name is Raliat Akesode. I currently attend <a href="http://www.mcsm.net"> Manhattan Center for Science & Mathematics</a> and will be in 11th grade when school resumes. Some things I enjoy doing are socializing, reading, going out, and hanging out with friends. Both of my parents were born in <a href="http://goo.gl/maps/4tCX9"> Nigeria</a> and I was born in America making me African-American.</p>

<p>   My short term goals are to improve myself academically and strive for a higher gpa average when school begins. My long term goal would be to become successful. I have hopes of becoming a neonatal nurse or a midwife. My aspirations are to excel and become something great in life.</p>

<p>   A few interesting facts about me is that I have a twin brother, my favorite books are Of mice and men, Fahrenheit 451,  my favorite color is pink, and my favorite place is Manhattan. My favorite subject in school is English and Math. 

<h3>connect</h3>
<ul>
<li>Twitter:@_RALIAT_</li>
</ul>

<aside>
  <div>
    <h2>Blog Posts by Raliat</h2>
    <ul class="posts">
      {% for post in site.posts %}
        {% if post.author == "Raliat Akesode" %}
          <li>
            <h3 class="title"><a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h3>
            <p><span class="date">{{ post.date | date_to_string }}</span></p>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>  

  <div>
    <h2>Projects by Raliat</h2>
    <!-- @TOOD Add a list of your projects. Each time you do a new project, you should add it here -->
  </div>  
</aside>