#{headings(all)} {
  font-family: 'Dosis';
  font-weight: 700;
}

#{headings(1, 2)} {
  letter-spacing: -0.03125em;
}

h1 {
  @include adjust-font-size-to($font-size-xlarge, 1);
  color: #36596d;
}

h2 {
  @include adjust-font-size-to($font-size-large);
}


h3 {
  @include adjust-font-size-to($font-size-medium);
  text-transform: uppercase;
}


h4 {
  @include adjust-font-size-to($font-size-xsmall);
}


h5 {
  @include adjust-font-size-to($font-size-xxsmall);
}
