<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <link rel="stylesheet" type="text/css" href="/css/screen.css">


    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.min.js">\x3C/script>')</script>

    <!-- Custom JS -->
    <script src="/js/modernizr.js"></script>
  </head>

  <body class="{{ page.class }}">

      <nav class="site-navigation" role="navigation">
        <ul id="nav" class="main-nav" tabindex="0">
          <li><a id="home" href="/index.html">{{ site.name }}</a></li>
          <li><a href="/collaborations/index.html">Collaborations</a></li>
          <li><a href="/projects/index.html">Projects</a></li>
          <li><a href="/history/index.html">Harlem History</a></li>
          <li><a href="/mentors">Mentors</a></li>
          <li><a href="/about/index.html">About Us</a></li>
        </ul>
      </nav>


      <div class="container">
        <main>
            {{ content }}
        </main>
      </div>


      <footer role="contentinfo">
        <p class="copyright">Deep Dish Waves of Change Harlem 2013 Intern Site is published under Creative Commons Share-and-Share alike.</p>
      </footer>

  </body>
</html>